#board-details {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  transition: all ease .5s;
}



#board-details.hide {
    height: 3rem;
    padding: 0.5rem 1rem 0;
}

#board-details.hide .ghm-assignee-card {
    height: 100%;
    width: max-content;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease 0.3s;
}

#board-details.hide .ghm-assignee-card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0px;
    border: 0;
}

#board-details.hide .ghm-assignee-card-title p {
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
    margin-top: 1px;
}
#board-details.hide .ghm-assignee-point-list {
    display: none;
}

#toggle-board-details {
    margin: 0 0.5rem;
}

.dark {
  background: #161b22 !important;
  color: #c9d1d9 !important;
}

.ghm-assignee-card {
  color: #000;
  min-width: 140px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 1rem 0 0;
  box-shadow: #00000015 0px 5px 10px;
}

.ghm-assignee-card-title {
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #344;
}

.ghm-assignee-point-list {
  margin: 0.8rem 0 0 0;
  list-style-type: none;
}

.ghm-is-bold {
  font-weight: bold;
}
